<form [formGroup]="form">

  <div class="form-group">
    <label for="oldpassword">Old Password</label>
    <input formControlName="oldPassword" id="oldpassword" type="password" class="form-control">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">Old password is required</div>
      <div *ngIf="oldPassword.errors.oldPasswordNotValid">Old Password is not valid</div>
    </div>
  </div>

  <div formGroupName="changePassword">
    <div class="form-group">
      <label for="newpassword">New Password</label>
      <input formControlName="newPassword" id="newpassword" type="password" class="form-control">
      <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
        <div *ngIf="newPassword.errors.required">New Password is required</div>
      </div>

    </div>

    <div class="form-group">
      <label for="confirmpassword">Confrim Password</label>
      <input formControlName="confirmPassword" id="confirmpassword" type="password" class="form-control">
      <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>

      </div>
    </div>
    <div class="alert alert-danger" *ngIf="changePassword.errors && confirmPassword.valid && changePassword.errors.passwordDoesNotMatch">
        Password does not match here
    </div>

  </div>


  <button class="btn btn-primary" [disabled]="!form.valid">Change Password</button>
</form>